<li class="toc_entry">
    <div class="panel contentTable__panel w_children">
        <div id="toc{{TOPIC_ID}}" class="panel-heading contentTablePanel__heading">
            <span class="toc_entryWrapper">
                <span class="mdi mdi-plus"></span>
                <span class="mdi mdi-minus"></span>
                <span class="nodeLable wv-tow">{{TOPIC_TITLE}}</span>
            </span>
        </div>
        <div class="panel_body contentTablePanel__body">
            <ul>{{TOC_CHILDREN}}</ul>
        </div>
    </div>
</li>